<template name="descricao">
	<section class="app-brief" id="descricao">

	<div class="container">
		
		<div class="row">
			
			<!-- BRIEF -->
			<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
				
				<!-- SECTION TITLE -->
				<h2 class="dark-text">Great way to describe your app</h2>
				
				<div class="colored-line-left">
				</div>
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/><br/>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				
			</div>
			<!-- /ENDBRIEF -->
			
			<!-- PHONES IMAGE -->
			<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
				<div class="phone-image">
					<img src="images/2-iphone-right.png" alt="">
				</div>
			</div>
			<!-- /END PHONES IMAGE -->
			
		</div>
		<!-- /END ROW -->
		
	</div>
	<!-- /END CONTAINER -->

	</section>
	<!-- /END SECTION -->
</template>