<template name="precos">
	<section class="packages" id="precos">

	<div class="container">
		
		<!-- SECTION HEADER -->
		<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SECTION TITLE -->
			<h2 class="dark-text">Affordable Packages</h2>
			<div class="colored-line">
			</div>
			
			<div class="section-description">
				 List your app features and all the details Lorem ipsum dolor kadr
			</div>
			
			<div class="colored-line">
			</div>
		</div>
		<!-- /END SECTION HEADER -->
		
	    <div class="row">
			
			<!-- SINGLE PACKACGE -->
			<div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
				
				<div class="single-package">
					
					<h3 class="package-heading main-color">
					Personal </h3>
					
					<div class="price">
						<h2><span class="sign">$</span>50 <span class="month">/month</span></h2>
					</div>
					
					<ul class="package-feature">
						<li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
						<li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
						<li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
						<li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
						<li><span class="main-color icon_close_alt2"></span>24/7 Customer Service</li>
						<li><span class="main-color icon_close_alt2"></span>Automatic Backup</li>
					</ul>
					
				</div>
			</div>
			<!-- /END SINGLE PACKACGE -->
			
			<!-- SINGLE PACKACGE -->
			<div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
				
				<div class="single-package">
					
					<h3 class="package-heading main-color">
					Business </h3>
					
					<div class="price">
						<div class="color-bg">
							<h2><span class="sign">$</span>75 <span class="month">/month</span></h2>
						</div>
					</div>
					
					<ul class="package-feature">
						<li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
						<li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
						<li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
						<li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
						<li><span class="main-color icon_check_alt2"></span>24/7 Customer Service</li>
						<li><span class="main-color icon_close_alt2"></span>Automatic Backup</li>
					</ul>
				</div>
			</div>
			<!-- /END SINGLE PACKACGE -->
			
			<!-- SINGLE PACKACGE -->
			<div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
				
				<div class="single-package">
					
					<h3 class="package-heading main-color">
					Ultimate </h3>
					
					<div class="price">
						<h2><span class="sign">$</span>99 <span class="month">/month</span></h2>
					</div>
					
					<ul class="package-feature">
						<li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
						<li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
						<li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
						<li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
						<li><span class="main-color icon_check_alt2"></span>24/7 Customer Service</li>
						<li><span class="main-color icon_check_alt2"></span>Automatic Backup</li>
					</ul>
				</div>
			</div>
			<!-- /END SINGLE PACKACGE -->
			
		</div>
		<!-- /END ROW -->
		
	</div>
	<!-- /END CONTAINER -->
	</section>
	<!-- /END PRICING TABLE SECTION -->
</template>