<template name="servicos">
	<section class="services" id="servicos">

	<div class="container">
		
		<!-- SECTION HEADER -->
		<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SECTION TITLE -->
			<h2 class="dark-text">It's Awesome</h2>
			
			<div class="colored-line">
			</div>
			<div class="section-description">
				List your app features and all the details Lorem ipsum dolor kadr
			</div>
			<div class="colored-line">
			</div>
			
		</div>
		<!-- /END SECTION HEADER -->
		
		<div class="row">
			
			<!-- SINGLE SERVICE -->
			<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
				
				<!-- SERVICE ICON -->
				<div class="service-icon">
					<i class="icon_cloud-upload_alt"></i>
				</div>
				
				<!-- SERVICE HEADING -->
				<h3>Your Data in Cloud</h3>
				
				<!-- SERVICE DESCRIPTION -->
				<p>
					 Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
				</p>
				
			</div>
			<!-- /END SINGLE SERVICE -->
			
			<!-- SINGLE SERVICE -->
			<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
				
				<!-- SERVICE ICON -->
				<div class="service-icon">
					<i class="icon_gift_alt"></i>
				</div>
				
				<!-- SERVICE HEADING -->
				<h3>Monthly Rewards</h3>
				
				<!-- SERVICE DESCRIPTION -->
				<p>
					 Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
				</p>
				
			</div>
			<!-- /END SINGLE SERVICE -->
			
			<!-- SINGLE SERVICE -->
			<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
				
				<!-- SERVICE ICON -->
				<div class="service-icon">
					<i class="icon_chat_alt"></i>
				</div>
				
				<!-- SERVICE HEADING -->
				<h3>24/7 Support</h3>
				
				<!-- SERVICE DESCRIPTION -->
				<p>
					 Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
				</p>
				
			</div>
			<!-- /END SINGLE SERVICE -->
			
		</div>
		<!-- /END ROW -->
		
	</div>
	<!-- /END CONTAINER -->

	</section>
	<!-- /END FEATURES SECTION -->
</template>