<template name="defaultLayout">
<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER   
============================== -->
{{> header}}

<!-- =========================
     FEATURES 
============================== -->
{{> features}}


<!-- =========================
     BRIEF LEFT SECTION (produto)
============================== -->

{{> produto}}


<!-- =========================
     BRIEF RIGHT SECTION  (descricao)
============================== -->
{{> descricao}}


<!-- =========================
     BRIEF LEFT SECTION WITH VIDEO 
============================== -->

{{> descricaoVideo}}


<!-- =========================
     TESTIMONIALS 
============================== -->
{{> quemSomos}}


<!-- =========================
     SERVICES
============================== -->
{{> servicos}}


<!-- =========================
     SCREENSHOTS
============================== -->
{{> screenshots}}


<!-- =========================
     PRICING TABLE | Added on version 1.7   
============================== -->
{{> precos}}




<!-- =========================
     DOWNLOAD NOW 
============================== -->
{{> download}}


<!-- =========================
     FOOTER 
============================== -->


{{> footer}}
 

<!-- /END FOOTER -->
</template>