<template name="download">
	<section class="download" id="download">

	<div class="color-overlay">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					
					<!-- DOWNLOAD BUTTONS AREA -->
					<div class="download-container">
						<h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Download the app on</h2>
						
						<!-- BUTTONS -->
						<div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
							
							<a href="" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>App Store</a>
							<a href="" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>
							
						</div>
						<!-- /END BUTTONS -->
						
					</div>
					<!-- END OF DOWNLOAD BUTTONS AREA -->
					
					<div class="subscription-form-container">
						
						<h2 class="wow fadeInLeft animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">Subscribe Now!</h2>
						
						<!-- =====================
						     MAILCHIMP FORM STARTS 
						     ===================== -->
						
						<form class="subscription-form mailchimp form-inline wow fadeInRight animated animated" data-wow-offset="10" data-wow-duration="1.5s" role="form" novalidate="true" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">
							
							<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
							<h4 class="subscription-success"></h4>
							<h4 class="subscription-error"></h4>
							
							<!-- EMAIL INPUT BOX -->
							<input type="email" name="EMAIL" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
							
							<!-- SUBSCRIBE BUTTON -->
							<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
							
						</form>
						<!-- /END MAILCHIMP FORM STARTS -->
						
						<!-- =====================
						     LOCAL TXT FORM STARTS 
						     ===================== -->
						     
						<!-- THIS FORM IS COMMENTED TO HIDE 
						
						<form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">
							
							<h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
							<h4 class="subscription-error">Something Wrong!</h4>
							
							<input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
							
							<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
							
						</form>
						
						-->
						
						<!-- / LOCAL TXT SAVING FORM END -->
						
					</div>					
				</div> 
				<!-- END COLUMN -->
				
			</div> 
			<!-- END ROW -->
			
		</div>
		<!-- /END CONTAINER -->
	</div>
	<!-- /END COLOR OVERLAY -->

	</section>
	<!-- /END DOWNLOAD SECTION -->
</template>